{% if CYAN_APPID %}
    <hr/>
    <section class="comments" id="comments">
        <h2>Comments</h2>

	{% if article %}
		{% set doc_identifier = article.date|strftime('%Y-%m-') ~ article.slug if DUOSHUO_ID_PREFIX_SLUG else article.slug %}
    {% elif page %}
        {% set doc_identifier = "page-" + page.slug %}
    {% endif %}
    
	<!--兼容版，可保证页面完全兼容-->
	<div id="SOHUCS" sid="{{ doc_identifier }}"></div>
	
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by 畅言.</a></noscript>

    </section>
{% endif %}
